# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# Virtualenv
env/
venv/
ENV/

# VS Code
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo

# Tailwind
*.css.map
